<a href="https://colab.research.google.com/github/swarubm/pythonreview/blob/main/UNDERSTANDING_MAP_FUNCTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Convert list of strings to integers

In [ ]:
data = ['1', '2', '3', '4']
result = list(map(int,data))
print(result)

[1, 2, 3, 4]

# 2. Square all elements in a list

In [ ]:
nums = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, nums))
print(squares)

[1, 4, 9, 16]

# 3. Add 5 to each number in a list

In [ ]:
nums = [10, 20, 30]
updated = list(map(lambda x: x + 5, nums))
print(updated)

[15, 25, 35]

# 4. Convert list of floats to integers

In [ ]:
values = [1.2, 3.4, 5.6]
integers = list(map(int, values))
print(integers)

[1, 3, 5]

# 5. Capitalize all words in a list

In [ ]:
words = ['hello', 'world']
capitalized = list(map(str.capitalize, words))
print(capitalized)

['Hello', 'World']

# 6. Add elements from two lists

In [1]:
a = [1, 2, 3]
b = [4, 5, 6]
result = list(map(lambda x, y: x + y, a, b))
print(result)

[5, 7, 9]

# 7. Find max from two lists

In [3]:
a = [10, 30, 50]
b = [20, 25, 60]
result = list(map(max, a, b))
print(result)

[20, 30, 60]

# 8 Convert list of strings to uppercase without using loops

In [4]:
names = ['sardar', 'swaroop', 'python']
uppercased = list(map(str.upper, names))
print(uppercased)

['SARDAR', 'SWAROOP', 'PYTHON']

# 9. Check if numbers are even

In [5]:
nums = [1, 2, 3, 4, 5]
even_check = list(map(lambda x: x % 2 == 0, nums))
print(even_check)

[False, True, False, True, False]

10. Filter out only even numbers using map() + filter()

In [6]:
nums = [1, 2, 3, 4, 5, 6]
is_even = list(map(lambda x: x % 2 == 0, nums))
evens = [num for num, check in zip(nums, is_even) if check]
print(evens)

[2, 4, 6]